*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main{
  min-height: 95vh;
}

.flexbox{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link{
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

.active{
  color:cadetblue;
}